Repository nihalgonsalves/esconfig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, typescript-build

prettier:
  run: yarn prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: yarn eslint --fix {staged_files}
  stage_fixed: true

typescript-build:
  run: yarn typecheck

ci: fix release please config again
  .github/workflows/publish.yml
Due: prettier

chore: set release-please bootstrap-sha
  release-please-config.json
Due: prettier

chore: remove bootstrapped SHA
  release-please-config.json
Due: prettier

style: prettier format
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier

chore: remove unused husky
  package.json
  yarn.lock
Due: prettier

style: prettier
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier

chore: yarn dedupe
  yarn.lock
Due: none

feat!(deps): upgrade all incl typescript-eslint v7
  package.json
  yarn.lock
Due: prettier

feat(deps): update all
  package.json
  yarn.lock
Due: prettier

chore: dependabot ignore eslint
  .github/dependabot.yml
Due: prettier

chore: upgrade yarn
  package.json
  yarn.lock
Due: prettier

feat: inline airbnb config, use eslint v9
  .eslintignore
  .eslintrc.js
  .eslintrc.react.js
  .github/dependabot.yml
  .prettierrc.js
  README.md
  eslint-rules-base.js
  eslint.config.js
  eslint.config.react-shared.js
  eslint.config.shared.js
  knip.jsonc
  package.json
  tsconfig.json
  tsconfig.shared.json
  yarn.lock
Due: prettier, eslint, typescript-build

feat!: eslint v9, typescript-eslint v8, inline airbnb config (#129)
  .eslintignore
  .eslintrc.js
  .eslintrc.react.js
  .github/dependabot.yml
  .prettierrc.js
  README.md
  eslint-rules-base.js
  eslint.config.js
  eslint.config.react-shared.js
  eslint.config.shared.js
  knip.jsonc
  package.json
  tsconfig.json
  tsconfig.shared.json
  yarn.lock
Due: prettier, eslint, typescript-build

fix: disable eslint JS rules that cause false +ves
  eslint.config.shared.js
Due: prettier, eslint, typescript-build

fix: types and peer deps
  .github/workflows/build.yml
  eslint.config.react-shared.d.ts
  eslint.config.react-shared.js
  eslint.config.shared.d.ts
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

docs: fix config examples
  README.md
Due: prettier

fix: react plugin rules and prop-types setting
  eslint.config.react-shared.js
Due: prettier, eslint, typescript-build

fix: tweak strictness of ts-eslint rules
  eslint.config.shared.js
Due: prettier, eslint, typescript-build

feat(deps): upgrade all
  package.json
  yarn.lock
Due: prettier

feat(ts): turn on noUncheckedSideEffectImports
  tsconfig.shared.json
Due: prettier

chore: use eslint-plugin-react’s flat config
  eslint.config.js
  eslint.config.react-shared.js
Due: prettier, eslint, typescript-build

chore: dedupe
  package.json
  yarn.lock
Due: prettier

chore: upgrade all
  package.json
  yarn.lock
Due: prettier

chore: allow default exports in config
  eslint.config.js
  eslint.config.shared.js
Due: prettier, eslint, typescript-build

fix: allow default exports in config (#157)
  eslint.config.js
  eslint.config.shared.js
Due: prettier, eslint, typescript-build

chore: upgrade yarn 4.6.0
  package.json
  yarn.lock
Due: prettier

feat: upgrade all, remove extraneous rules
  eslint.config.react-shared.js
  eslint.config.shared.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

chore: remove unnecessary @types/eslint__js
  package.json
  yarn.lock
Due: prettier

feat: add more tseslint rules
  eslint.config.shared.js
Due: prettier, eslint, typescript-build

chore: remove unused husky files
  .husky/.gitignore
  .husky/commit-msg
Due: none

feat!: stricter tsconfig
  .vscode/settings.json
  README.md
  tsconfig.shared.json
Due: prettier

feat: stricter react rules (vitest, storybook, …)
  eslint.config.react-shared.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

chore: migrate breaking changes
  eslint.config.react-shared.d.ts
  eslint.config.react-shared.js
  eslint.config.shared.d.ts
  eslint.config.shared.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

ci: publish using openid connect
  .github/workflows/publish.yml
Due: prettier

ci: publish using openid connect (#206)
  .github/workflows/publish.yml
Due: prettier

ci: use new release please action org
  .github/workflows/publish.yml
Due: prettier

fix: publish config
  .github/workflows/publish.yml
  package.json
Due: prettier

feat: update all, use pnpm
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .yarnrc.yml
  README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier

feat: update all, use pnpm (#233)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .yarnrc.yml
  README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts,json,yml,yaml,md}
  eslint: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
  typescript-build: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
